header #title{
 text-align:center;
 font-size: 40px; 
 color: violet;

text-decoration: underline;
 
}

.result{
  text-transform:capitalize ;
}
#word{
  font-size: 22px;
}

form input{
  margin: 2px;
}
*{
  font-size: 18px;
  text-align: center;
  font-family:'Poppins', sans-serif;
}
